@font-face {
  font-family: "uHangul";
  src: url("./assets/fonts/uHangul-v0.7.ttf?v=0.7") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.uhangul-font {
  font-family: "uHangul", "Malgun Gothic", "Noto Sans KR", sans-serif !important;
}
