@font-face {
  font-family: "uHangul";
  src: url("./assets/fonts/uHangul-v0.6.woff2?v=0.6") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.uhangul-font {
  font-family: "uHangul", "Malgun Gothic", "Noto Sans KR", sans-serif !important;
}
